*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;

}

:root{
    --font : "Montserrat", sans-serif;
}

.buttons{
    border: none;
    color:#4F1128;
    font-size: 16px;
    padding:12px 16px;
    margin: 8px 0px 0px;
    font-weight: 700; 
    width: 120px;
    height: 40px;
}

.heading-sim{
    font-size: 40px;
    font-weight: 500;

}

.header{
    display: flex;
    margin-top: 1em;
    margin-left: 7em;
}

input{

    width: 14em;
    height: 22px;
    padding: 6px 12px;
    font-weight: 300;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #cccccc;

}

.srch-btn{
position: relative;
left: 650px;
}

i[class*="mag"]{
    margin-top: 10px;
    margin-left: -50px;
}

i[class*="cart"]{
    margin-top: 10px;
    margin-left: 70px;
}

.header2 > ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 16px 0px;
    position: relative;
    left:-120px;
    
}

.header2 > ul > li{
    font-size: 14px;
    font-weight: 400;
    line-height:21px;
    margin-left: 20px;
    
    


}

.bg-1{
    height: 85vh;
    background-image: url(./assets/bg-1.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.kandala-banner{
    position: absolute;
    margin-top: 250px;
    margin-left: 60px;
}

.kandala-banner > p{
    font-weight: 500;
    font-size: 42px;
    line-height: 60px;
    font-family: "Libre Caslon Text", serif;
    color: white;
    width: 610px;
    height:180px;

}

.kandala-banner > button{
    border: none;
    color:#4F1128;
    font-size: 16px;
    padding:12px 16px;
    margin: 8px 0px 0px;
    font-weight: 700; width: 120px;
    height: 50px;
   
}

.row{
    display: flex;
    justify-content:space-around;
    text-align: center;
    align-items:center;
    background-color: #F7F7F7;
    font-size: 14px;

}

.row > .item  {
margin-top: 50px;
margin-bottom: 50px;


}


.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:60px;
}

.heading > p{
    font-family: var(--font);
    font-weight: 400;
    font-size: 28px;
}
.items{
    margin: 40px 0px;


}

.items > img{
    width: 120px;
    margin-bottom:15px ;    


}

.collections {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Three columns */

}

#smalltxt{
    font-size:16px;
    font-weight:400;
}

.bottom-icon{
    margin: 20px 0px;
    margin-bottom: 50px;
}


/* .card-body{
    width: 240px;
    height:240px;

} */

.slider {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.sliderImg > img {
    width: 240px;
    height:240px;
    box-shadow: 10px 10px 12px #cccccc;
    margin-bottom: 15px;
}

.eleDetails > p {
    text-align: center;
    margin-bottom: 8px;
}

.eleDetails .mb-2:nth-child(2) {
    font-weight: 700;
    font-size: 14px;
}

.eleDetails .mb-2:nth-child(3) {
    font-weight: 800;
    font-size: 14px;
    color: #561c32;
}

.slider-nav > button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.next{
    position: relative;
    top: -270px;
    left: 1430px;
}

.prev {
    position: relative;
    top: -270px;


}

.bg3{
    background-image: url(./assets/bg-3.png);
   }

.bg3-heading{
   
    color: white;
    position: relative;
    top: 150px;
    margin-left: 800px;
}

.bg3-heading > p {
    font-size: 40px;
    font-weight: 500;

}

.bg3-heading > button {
    background-color:#4F1128;
    color: white;
    
   
}

.bg4 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 30px;
    justify-content: center;
    margin-bottom:80px ;
    
}

.card-body > img {
    width: 100%;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}

.card-body{
    box-shadow: 1px 1px 100px lightgray;
    width: 400px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}



.bg4 > p {
    text-align: center;
    font-size:28px;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 30px;

}



.bg4-heading{
    font-family: var(--font);
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-top: 70px;
    margin-bottom:30px ;
}

.card-content{
    padding :15px;
    box-sizing: border-box;
}

.card-content > p{
    padding-bottom: 10px;
}

.bg-comm{
    height:60vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg5{
    background-image: url(./assets/bg-5.png);
    
}

.bg5-con{
    position: relative;
    top: 130px;
    margin-left: 100px;
}

.bg5-con > p {

    font-size: 32px;
    font-weight: 500;
    color: white;
    width: 500px;
    line-height: 53px;
    font-family: "Libre Caslon Text", serif;

}

.bg5-con >  button{
    background-color:#4F1128;
    color: white;
}

.bg6{
    height:100vh;
    background-color:#919095;
    text-align: center !important;
}

.bg6-heading > p {
    font-size: 40px;
    font-weight:400;
    line-height: 30px;
    color: white;
    box-sizing: border-box;
    position: relative;
    top: 50px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    padding: 10px;
    width: 88%;
    margin: auto;
    margin-top: 50px;
  }
  
  .grid-container > div {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 190px;
  }
  
  .item2 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .grid-container > .item4 {

    

  }

  .grid-container > .item4 :nth-child(4) {
   margin: 0 !important;
    
  }

.grid-container > .item :nth-child(2){
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container > .item :nth-child(3){
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid-container > .item :nth-child(4){
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color :black;
    text-decoration: none;
    position: relative;
    bottom: 0px;

}

.grid-container > .item2 :nth-child(2){
    font-size: 62px;
    font-weight: 400;
    line-height: 93px;
}

.grid-container > .item2 :nth-child(3){
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}



.border-bottom{
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

footer{
    height: 40vh;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    box-sizing: border-box;
    margin-left:50px ;
}

footer > img {
    width: 214px;
    height: 144px;
    padding: 0px 90px ;
}

footer > ul {
    width : 220px;
    list-style: none;
}

footer > ul > * {
    padding-bottom: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height :21px;

}

footer > ul > p {
    padding-bottom: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height : 24px;
}
.footer-con > p {
    border-top: 1px solid gray;
    text-align:center;
    font-weight: 400;
    font-size: 14px;
    line-height :21px;
    padding: 20px 0px;
}









